  <li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-cog fa-fw"></i>
    </a>
    <ul class="dropdown-menu">
      <li class="header" style="text-align:center"><b>Adianti Builder</b></li>
      <li>
        <ul class="menu">
          <li>
            <a onclick="__adianti_builder_edit_page()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-pencil-square-o blue fa-fw"></i> Editar a página
            </a>
          </li>
          <li>
            <a onclick="__adianti_builder_get_codes()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-cloud-download green fa-fw"></i> Atualizar códigos
            </a>
          </li>
          <li>
            <a onclick="__adianti_builder_update_menu()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-cloud-download green fa-fw"></i> Atualizar menus
            </a>
          </li>
          <li>
            <a onclick="__adianti_builder_update_permissions()" generator="adianti" style="cursor:pointer">
                <i class="fa fa-cloud-download green fa-fw"></i> Atualizar permissões
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>