<!DOCTYPE html>
<html>
<head>
    <title>Blog admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {LIBRARIES}
    {HEAD}
</head>
<body>
    <div class="adianti_container">
        <div class="header">
            <div class="thin_bar">
                &nbsp;
            </div>
            <div class="header_content">
                <div class="logo1" style="position:relative; width:48%;padding-top:10px">
                    <a target="newwindow" href="http://www.adianti.com.br/framework">
                        <img src="app/templates/theme1/images/framework.png">
                    </a>
                </div>
                
                <div class="logo2" style="position:relative; width:48%">
                    <a target="newwindow" href="http://www.adianti.com.br">
                        <img src="app/templates/theme1/images/adianti.png">
                    </a>
                </div>
            </div>
            
            <div class="header_bottom" style="clear:both"></div>
        </div>
        
        <div class="body">
            <div id="adianti_div_content" class="login" style="padding-top:80px"></div>
            <div id="adianti_online_content"></div>
            <div id="pageboth"><br></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>