RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Learning-PHP7/MiniProject%20-%20Popular%20select%20a%20partir%20de%20outro/index.php?url=$1 [QSA,L]